<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Registration</title>
</head>
<body>

     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static profile_management/User_Profile.css}">


     <h1>Login</h1>

     <a href="{% url 'profile_management:register'%}">Register Here!</a>
     <a href="{% url 'password_reset'%}">Reset</a>
    <form method="post">

     {% csrf_token %}

     <label for="username">Username:</label>

     <input type="text" id="username" name="username" required><br>

     <label for="password">Password:</label>

     <input type="password" id="password" name="password" required><br>

     <button type="submit">Login</button>

     </form>
     
</body>
</html>




















