
<!DOCTYPE html>

<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ilovecookbooks/css.css' %}">
    <!-- Your head content here -->
    <H1>Dictionary</H1>

</head>

<body class="body2">

    <div class="row">

        
        <div class="column2">
            <div class="label">

            <h3>A</h3>
            
        </div>

        <div class="BodyTag">

            {% for book in a %}
        
                <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>
        
            {% endfor %}
        </div>
        </div>

    </div>

        <div class="column2">

            <div class="label">

            <h3>B</h3>
        </div>
        <div class="BodyTag">

            {% for book in b %}
        
                <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>
        
            {% endfor %}
        </div>

        </div>

    </div>
    <div class="column2">

        <div class="label">

        <h3>C</h3>
    </div>
    <div class="BodyTag">

        {% for book in c %}
    
            <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>
    
        {% endfor %}
    </div>

    </div>

</div>
<div class="column2">

    <div class="label">

    <h3>D</h3>
</div>
<div class="BodyTag">

    {% for book in d %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>E</h3>
</div>
<div class="BodyTag">

    {% for book in e %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>F</h3>
</div>
<div class="BodyTag">

    {% for book in f %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>G</h3>
</div>
<div class="BodyTag">

    {% for book in g %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>H</h3>
</div>
<div class="BodyTag">

    {% for book in h %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>I</h3>
</div>
<div class="BodyTag">

    {% for book in i %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>J</h3>
</div>
<div class="BodyTag">

    {% for book in j %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>K</h3>
</div>
<div class="BodyTag">

    {% for book in k %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>L</h3>
</div>
<div class="BodyTag">

    {% for book in l %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>M</h3>
</div>
<div class="BodyTag">

    {% for book in m %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>N</h3>
</div>
<div class="BodyTag">

    {% for book in n %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>O</h3>
</div>
<div class="BodyTag">

    {% for book in o %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>P</h3>
</div>
<div class="BodyTag">

    {% for book in p %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>Q</h3>
</div>
<div class="BodyTag">

    {% for book in q %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>R</h3>
</div>
<div class="BodyTag">

    {% for book in r %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>S</h3>
</div>
<div class="BodyTag">

    {% for book in s %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>T</h3>
</div>
<div class="BodyTag">

    {% for book in t %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>U</h3>
</div>
<div class="BodyTag">

    {% for book in u %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>V</h3>
</div>
<div class="BodyTag">

    {% for book in v %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>W</h3>
</div>
<div class="BodyTag">

    {% for book in w %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>X</h3>
</div>
<div class="BodyTag">

    {% for book in x %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>Y</h3>
</div>
<div class="BodyTag">

    {% for book in y %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>
<div class="column2">

    <div class="label">

    <h3>Z</h3>
</div>
<div class="BodyTag">

    {% for book in z %}

        <a href="{% url 'ilovecookbooks:book_detail' book.pk %}">{{ book.title }}</a>

    {% endfor %}
</div>

</div>

</div>


</body>

</html>

