<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     {%load static%}
     <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">


     <title>Document</title>
</head>
<body>

     <div class="text-container">
 
          <h1>About Us</h1>
  
      </div>

      <div class="main-content">

          <nav>
      
            <div class="row">
      
              <a href="{% url 'resume' %}">Resume</a>

              
      
            </div>

            <div class="row">

            <a href="{% url 'register' %}">Make an account?</a>

            <a href="{% url 'home' %}">Home</a>
            </div>

            
            <div class="row">

               <a href="{% url 'webinfo' %}">future slot for webdev info</a>
               </div>

          </nav>

     </div>

     
     <div class="text-container2">

          <h3>Mission Statement</h3>
      
          <p>I dream of a future where education is free for anyone who wants to learn. I have also laid out a step by step plan for getting college credits paid for here <a href="{% url 'clep'%}">CLEP info</a> </p>
          
          
     </div>
     
     
     <div class="text-container3">
     <p>I hope this website will grow into an education sharing platform. I will continue to add features that will help with learning. Some of the things I have in mind are:</p>

           
     <ul>

          <li><p>Adding a note taking word processor.</p></li>
          <li><p>A practice test generator</p></li>
          <li><p>and I want to add a GPT plugin to generate flash cards.</p></li>
          <li><p>If I monetize this, it will be on a donation basis. So don't worry, I will never demand money for service.</p></li>

     </ul>

      
      </div>

      <div class="text-container2">
     
          <h3>If you have any suggestions,</h3>
          
          <p>I would love to hear them! You can leave a message here: <a href="{% url 'contact'%}">Contact Us</a></p>
          
          </div>

          <br><br>
      
     
</body>
</html>