<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>

     {% load static %}


     <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">
 
 
     <div class="text-container">
 
         <h1>CLEP</h1>
 
     </div>
</head>
<body>

     <div class="main-content">

          <nav>
      
            <div class="row">
      
              <a href="{% url 'home' %}">Home</a>
      
            </div>

            <div class="row">
      
               <a href="https://modernstates.org/">Modern States</a>

               <a href="https://clep.collegeboard.org/clep-exams">College Board</a>
       
           </div>

          </nav>

     </div>

     <div class="text-container2">

          <h3>What is Clep?</h3>
      
          <p>To simply put this, CLEP is a way to earn college credits without the help of a college or university. Almost all colleges nowadays have a CLEP program, it's just never advertised. My best guess is that they would prefer if you paid them 10's of thousands of dollars. A CLEP exam costs about 100 dollars, but I will teach you how to get that fee waived, even if you fail!</p>
      
      </div>
      
      
      
      <div class="text-container3">
      
          <h3>Mission statement</h3>
      
          <p>The purpose of this page is to provide a clear cut path on how to earn your college credits, for FREE! I personally struggled with a low income, and low prospects for a higher education. That is why I am so passionate about helping others succeed in college, regardless of your income.</p>
      
      </div>
      
      
      <div class="text-container2">
      
      <h3>The good the bad and the ugly</h3>
      
      <p>I sense that you may be wondering, what is the catch? I respond, "There is no catch. Well maybe. Okay, It's complicated." CLEP alone will charge you 93 dollars, and then you have to usually pay around 15 to 20 dollars for testing fees to the testing center. That is a lot of money for a poor guy like me, so I did some research. The organization <a href="https://modernstates.org/">Modern States</a> will reimurse your test fee, AND the exam fee. In fact, it took me three attempts to pass the Western Civ I exam, and I was paid back for each exam in full. The only requirement is to finish 75% of their study guide for each exam. Personally, I skipped all the videos and just do the homework and final tests. [which is probably why I failed so many times]. What is awesome is that they have entire college textbooks hosted for free, and that they will reimburse a knucklehead like me!</p>
     </div>


     <div class="text-container3">
     <h3>The how to</h3>

     <p>From start to finish, here is a broad overview of the steps to take in order to get your college exam paid for.</p>

     
     <ul>

          <li><p>Take a look at this helpful FAQ page: <a href="https://modernstates.org/faq/">Frequently Asked Questions</a></p></li>

          <li><p>Search for your college <a href="https://clep.collegeboard.org/clep-college-credit-policy-search?gclid=CjwKCAiA04arBhAkEiwAuNOsIogRtm3xmS0nvzFjkYdwg4Umgjk2WjYXwbN6M2H8YEVF-l6mQFhHMRoCQ14QAvD_BwE&ef_id=CjwKCAiA04arBhAkEiwAuNOsIogRtm3xmS0nvzFjkYdwg4Umgjk2WjYXwbN6M2H8YEVF-l6mQFhHMRoCQ14QAvD_BwE:G:s&s_kwcid=AL!4330!3!653271134082!e!!g!!what%20colleges%20accept%20clep!1493550655!57249015763&gad_source=1">here</a> and see what clep credits they will accept.</p></li>

          <li><p> Call the college and request to speak with someone who handles CLEP. Ask them "What is the max ammount of CLEP credits I can use?"</p></li>

          <li><p>Create an account on <a href="https://modernstates.org/">modernstates.org</a> and enroll in a course that your college approves of.</li>
          
          <li><p>Follow the course and complete the 'check for understanding', 'homework', and 'final test'. You can google on your test >:]'</p></li>

          <li><p>Request a voucher here:<a href="https://modernstates.org/clep-voucher-request/">voucher</a></p></li>

          <li><p>Once you get your voucher. Register for your exam <a href="https://clep.collegeboard.org/clep-exams">here</a> and apply your voucher.</p></li>

          <li><p>Sign up to take your test at an approved testing facility: <a href="https://clep.collegeboard.org/clep-test-center-search">Test center searcher</a>. It will cost between 15-30 dollars, but Modern States will reimburse you. KEEP YOUR RECEIPT!!</a></p></li>

          <li><p>Once you take your test, request your test center reimbursement: <a href="https://modernstates.org/test-center-reimbursement/">Test Center Reimbursement</a></p></li>

          <li><p>Repeat this list for your next class!</p></li>
     </ul>

     </div>


     <div class="text-container2">
     
<h3>Good luck and final words!</h3>

<p>   I wish you the best of luck on finding your path. Keep in mind that CLEP credits do not effect your GPA. It is pass or fail. This can be to your advantage if there is a class that is a stain on your transcript. Retake the test with CLEP and if you pass, you can turn that C- into a pass! Then no one will know you did terrible, and watch your GPA rise! Last thing. I get very happy when I see that people are using my softwares. I would like you to create flashcards in our flashcard app. This will help someone else pass their exam, and it will make me very happy! Cheers!</p>

</div>
</body>
</html>
