<!DOCTYPE html>

<html lang="en">

{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'edit_deck.css' %}">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact Form</title>

</head>



<body>



    <div class="hero">



    <div class="text-container">

        <h1>Contact Us</h1>

    </div>


        
    <div class="main-content">

        <nav>
    
          <div class="row">
    
            <a href="{% url 'home'%}">Home</a>
    
          </div>
        </nav>
    </div>


    <form method="post" action="{% url 'contact' %}">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Submit</button>

    </form>

    </div>



</body>

</html>