<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'create_deck.css' %}">




<html lang="en">

<head>

    <meta charset="UTF-8">

    <div class="text-container">

        <h1>Create Deck</h1>

    </div>

</head>

<body>


    <div class="main-content">

        <nav>
    
          <div class="row">
            <a href="{% url 'user_profile' request.user.pk %}">Your Profile</a>
            <a href="{% url 'home' %}">Home</a>
          </div>

        </nav>



    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Create Deck</button>

    </form>


</body>

</html>