<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

        body {

            font-family: 'Arial', sans-serif;

            background-color: #333;

            color: #000;

            margin: 0;

            padding: 0;

        }



        table {

            border: 2px solid #000;

            width: 80%;

            margin: 20px auto;

            border-collapse: collapse;

        }



        th, td {

            border: 2px solid #000;

            padding: 15px;

            text-align: left;

            background-color: #ddd;

        }



        th:hover, td:hover {

            background-color: #fff;

        }



        h1, h2, h3 {

            color: #000;

        }



        p {

            line-height: 1.6;

        }



        ul {

            list-style-type: square;

        }



        a {

            color: #e74c3c;

            text-decoration: none;

        }



        a:hover {

            text-decoration: underline;

        }

    </style>

    <title>Calvin Goodin</title>

</head>



<body>



    <table>

        <tr>

            <td colspan="2" style="padding: 20px; text-align: center;"><h1>Welcome to my resume!</h1></td>

        </tr>

        <tr>

            <td colspan="2" style="padding: 20px;">

                <h2>About Me</h2>

                <p>I have several years of experience in customer service positions and inventory specialist roles for other companies. It's a dream of mine to move into a position that would allow me to solve problems with my technical talents. I can manage data on an industrial scale, create apps on the fly, host websites, market ideas, anything clerical, customer service, and much more. I know Microsoft 365 like the back of my hand and can generate automated reports, automate email campaigns, and much more!</p>

            </td>

        </tr>

        <tr>

            <td colspan="2" style="padding: 20px;">

                <h2>Experience</h2>

                <p><strong>Virtual Sales/Web Development</strong> (04/2022 - Current)</p>

                <ul>

                    <li>Generating new leads through B2B efforts and sales events.</li>

                    <li>Creating databases and hosting them on AWS</li>

                    <li>Building full stack websites for very cheap!</li>

                    <li>Setting up virtual stores on Etsy</li>

                    <li>Incorporated a payment system</li>

                    <li>Maintained accurate inventory of meats and dates.</li>

                    <li>Responded to customer inquiries in a timely manner.</li>

                </ul>



                <p><strong>Adapt Health</strong> (07/2020 - 02/2021)</p>

                <ul>

                    <li>Repaired breathing machines and did home visits to maintain equipment</li>

                    <li>On call 24/7 in case of emergency repairs. Managed a medical warehouse</li>

                    <li>Created methods to store information rapidly.</li>

                </ul>



                <p><strong>Volt Power</strong> (07/2018 - 05/2020)</p>

                <ul>

                    <li>Repaired storm-damaged powerlines.</li>

                    <li>Pulled a pole trailer in congested traffic</li>

                    <li>Made routine maintenance on powerlines up to 34.5kv</li>

                </ul>



                <p><strong>Jose's Ranch</strong> (02/2016 - 08/2018)</p>

                <ul>

                    <li>Ranch maintenance manager</li>

                    <li>Helping patrons with information and assisting them with horses</li>

                    <li>Taking care of over 30 race horses.</li>

                    <li>Mowing, repairing plumbing, teaching horse riding fundamentals</li>

                </ul>





                <p><strong>Martin Sprocket</strong> (06/2015 - 08/2016)</p>

                <ul>

                    <li>CNC Welder, production work</li>

                    <li>Broke records on the numbers of parts welded in a day</li>

                </ul>



                <p><strong>Home Depot</strong> (01/2014 - 05/2015)</p>

                <ul>

                    <li>Making it a mission to find customers to help</li>

                    <li>Determining the right items for DIY projects.</li>

                    <li>Operating a forklift.</li>

                </ul>



                <p><strong>United States Marines</strong> (08/2010 - 02/2013)</p>

                <ul>

                    <li>0621-Field Radio Operator</li>

                    <li>Set up SATNET/UHF, VHF, HF, SIPPER, NIPR networks.</li>

                    <li>Coordinated assets to protect marines and help with casualty evacuations</li>

                </ul>

            </td>

        </tr>

        <tr>

            <td colspan="2" style="padding: 20px;">

                <h2>Skills</h2>

                <p><strong>Technical:</strong></p>

                <p>Python for business, Rest APIs, PowerShell, SQL, Database Design, Object-Oriented Programming (7 software publications), Windows 7, 10, and Windows 11.</p>

                <p><strong>Soft skills:</strong></p>

                <p>Genuine empathy for others, team player, conflict resolution, Customer Service.</p>

            </td>

        </tr>

        <tr>

            <td style="width: 50%; padding: 20px;">

                <h2>Contact Information</h2>

                <p>Email: admin@ilovecookbooks.org</p>

            </td>

            <td style="width: 50%; padding: 20px;">

                <h2>Education</h2>

                <p>Applied Science: Electrical Distribution</p>

                <p>University: TSTC Marshall, TX.</p>

            </td>

        </tr>

        <tr>

            <td colspan="2" style="padding: 20px;">

                <h2>Additional Links</h2>


                <p>GitHub: <a href="https://github.com/BuzzerrdBaait">BuzzerrdBaait</a></p>

                <p>Website: <a href="https://www.ilovecookbooks.org">www.ilovecookbooks.org</a></p>

                <p>

                <p>Website: <a href="https://www.flashcardzz.com">www.flashcardzz.com</a></p>

                <p>Feel free to explore my work and get in touch. I'm eager to contribute my skills and passion to your organization!</p>

            </td>

        </tr>

    </table>



</body>



</html>

